.nav_container {
  display: flex;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.825);
  width: 100%;
  place-items: center;
position: fixed;
  z-index: 3;

}
.nav_container > .nav_ul {
  position: relative;
  right: 15px;
  list-style: none;
  padding: 0;
  display: flex;
}
.nav_container > .nav_ul > .nav_ul_items {
  padding: 0 20px;
  font-weight: 500;
  font-size: 1.5rem;
  transition: 0.3s;
  color: #fff;
}
.nav_container > .nav_ul > .nav_ul_items:hover , .nav_dark_mode_icon:hover{
  color: #53B4F5;
}
.nav_head {
  width: 50px;
  position: relative;
  left: 30px;
}

/* dark_mode */

.dark_mode {
  display: none;
}
 .nav_dark_mode_icon{
    font-weight: 500;
    font-size: 1.7rem;
    position: relative;
    right: 20px;
    place-self: center;
    transition: .3s;
    cursor: pointer;
    z-index: 1;

 }
 .dark_mode:checked ~ .nav_dark_mode_icon{
  color: #53B4F5;
 }
